.productos__item {
    width: 20vw;
    font-family: Arial, Helvetica, sans-serif;
}

.productos__item--imagen {
    width: 14vw;
}

.productos__item--titulo_producto {
    font-size: 110%;
}

.productos__item--vinculo {
    text-decoration: none;
    color: rgb(50, 176, 255);
}

.productos__item--editar {
    display: block;
    color: rgb(127, 207, 127);
    text-decoration: none;
}

.productos__item--eliminar {
    color: crimson;
    text-decoration: none;
}

.productos__item--vinculo,
.productos__item--editar,
.productos__item--eliminar {
    font-size: 105%;
}

@media screen and (max-width: 768px) {
    .productos__item--ocultar {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .productos__item {
        margin-bottom: 0.5rem;
    }

    .productos__item--imagen {
        width: 30vw;
    }
}