.seccion_agregar_producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0 100px 30vw;
}

.seccion_agregar_producto--solicitud {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

.seccion_agregar_producto--label {
    color: rgb(163, 163, 163);
    padding: 2px 0 0 10px;
    font-size: 80%;
    display: block;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}

.seccion_agregar_producto--label_imagen {
    padding: 120px 0 0 calc(4vw);
}

.seccion_agregar_producto--input {
    height: 50px;
    width: 35vw;
    margin-bottom: 1rem;
}

.seccion_agregar_producto--soltar_imagen {
    border: 2px dashed rgb(170, 170, 170);
    padding: 100px 0;
}

.seccion_agregar_producto--boton_agregar {
    width: 35.3vw;
    background-color: rgb(59, 180, 255);
    color: white;
    padding: 5px;
    border: none;
    font-size: 130%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .seccion_agregar_producto {
        padding: 100px 0 100px 10vw;
    }

    .seccion_agregar_producto--input {
        width: 80vw;
    }

    .seccion_agregar_producto--boton_agregar {
        width: 80vw;
        margin-left: 6px;
    }
}