.todos_los_productos--contenedor {
    display: grid;
    grid-template-columns: calc(100vw / 6.5) calc(100vw / 6.5) calc(100vw / 6.5) calc(100vw / 6.5) calc(100vw / 6.5) calc(100vw / 6.5);
    text-align: center;
}

.todos_los_productos--titulo {
    margin: 1rem 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
    .todos_los_productos--contenedor {
        display: grid;
        grid-template-columns: calc(100vw / 4) calc(100vw / 4) calc(100vw / 4) calc(100vw / 4);
    }
}

@media screen and (max-width: 360px) {
    .todos_los_productos--contenedor {
        display: grid;
        grid-template-columns: calc(100vw / 2) calc(100vw / 2);
    }
}