.barra_de_busqueda__ingresar_solicitud {
    height: 40px;
    margin-left: 1rem;
    width: 60vw;
}

@media screen and (max-width: 360px) {
    .barra_de_busqueda__ingresar_solicitud {
        display: none;
    }
}