.barra_de_busqueda__contenedor_boton_login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 51px;
}

@media screen and (max-width: 360px) {
    .barra_de_busqueda__contenedor_boton_login {
        width: 50%;
    }
}